
body{
    background-color: black; 
    margin: 0%;
    padding: 0%;
}


nav{
    /* overflow: hidden;
    background-color: rgb(7, 7, 7); */
    border-bottom: 5px solid rgb(119, 92, 223);
}

nav img{
    height: 51px;
    width: 180px;
    float:left ;
    margin-left: 10px;
}
nav a {
    float: right; 
    margin-top: 15px;
    margin-right: 70px; 
    font-size: 20px;
    text-decoration: none;
}

nav a.principal{
    color: rgb(215, 250, 53);
}

nav a.extra{
    color: rgb(119, 92, 223);
}

/* .content{
    display: flex;
    flex-direction: row;
}

.contentDiv{
    display: flex;
    flex-direction: column;
} */



