
body{
    background-color: black; 
    margin: 0%;
    padding: 0%;
}


nav{
    /* overflow: hidden;
    background-color: rgb(7, 7, 7); */
    border-bottom: 5px solid rgb(119, 92, 223);
}

nav img{
    height: 51px;
    width: 180px;
    float:left ;
    margin-left: 10px;
}
nav a {
    float: right; 
    margin-top: 15px;
    margin-right: 70px; 
    font-size: 20px;
    text-decoration: none;
}

nav a.principal{
    color: rgb(215, 250, 53);
}

nav a.extra{
    color: rgb(119, 92, 223);
}

@media (max-width: 576px) {
    .navbar-nav {
      justify-content: flex-end;
    }
  }

  .contentDiv {
    border-left-width: 3rem;
    border-left-color: rgb(215, 250, 53);
    border-left-style: solid;
  }
